<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="classpath:atmWeb.properties"/>
    <context:component-scan base-package="com"/>

    <jee:jndi-lookup id="dataSource"
                     jndi-name="jdbc/MySQLDS"
                     expected-type="javax.sql.DataSource" />

    <bean id="autoPatcher" class="com.tacitknowledge.util.migration.jdbc.AutoPatchService" init-method="patch">
        <property name="dataSource" ref="dataSource"/>
        <property name="patchPath" value="${patchPath}"/>
        <property name="systemName" value="${systemName}"/>
        <property name="databaseType" value="${databaseType}"/>
    </bean>

    <bean id="namedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <util:list id="listOfParsers" value-type="com.command.parser_command.DbInputParser">
        <ref bean="dbPrintParser"/>
        <ref bean="dbAddParser"/>
    </util:list>
</beans>